<div class="header">
  <div class="tittle">
    <h1 class="text-tittle">Country's</h1>
  </div>
  <div class="container-nav-link">
    <label for="nav-link" class="filter">Filter by</label>
    <button
      class="nav-link"
      routerLink="/country-names-page"
      routerLinkActive="active"
    >
      Names
    </button>
    <button
      class="nav-link"
      routerLink="/country-capitales-page"
      routerLinkActive="active"
    >
      Capitales
    </button>
    <input
      type="text"
      placeholder="Search..."
      #txtSearch
      (keyup)="OnSearchCountrys(txtSearch.value)"
    />
  </div>
</div>

<div class="cards-container">
  <div class="cards-content">
    <div
      class="cards-values"
      *ngFor="let data of countrys | filterPagination: pages:search"
    >
      <div class="cards-info">
        <h1 class="country-title">Name</h1>
        <p class="info">{{ data.name }}</p>
        <h1 class="country-title">Capital</h1>
        <p class="info">{{ data.capital }}</p>
        <h1 class="country-title">Languages</h1>
        <div class="languages-info">
          <p class="info" *ngFor="let datal of data.languages">
            {{ datal.name }}
          </p>
        </div>
        <h1 class="country-title">Currencies</h1>
        <p class="info" *ngFor="let datac of data.currencies">
          {{ datac.code }}
        </p>
      </div>
      <div class="cards-icon">
        <img [src]="data.flag" class="card-img-top" />
      </div>
    </div>
  </div>
  <div class="buttons-pipe">
    <button class="pipe" (click)="previousPage()">Anterior</button>
    <button
      class="pipe"
      (click)="nextPage()"
      [disabled]="(countrys | filterPagination: pages:search).length === 0"
    >
      Siguiente
    </button>
  </div>
</div>
