<div class="header">
  <div class="tittle">
    <h1 class="text-tittle">Country's</h1>
  </div>
  <div class="container-nav-link">
    <button class="nav-link" routerLink="/country" routerLinkActive="active">
      Back
    </button>
  </div>
  <input
    type="text"
    placeholder="Search..."
    #txtSearch
    (keyup)="OnSearchCountrys(txtSearch.value)"
  />
</div>

<div class="cards-container">
  <div class="cards-content">
    <div
      class="cards-values"
      *ngFor="let data of names | filterNames: pages:search"
    >
      <div class="cards-info">
        <h1 class="country-title">Name</h1>
        <p class="info">{{ data.name }}</p>
      </div>
    </div>
  </div>
  <div class="buttons-pipe">
    <button class="pipe" (click)="previousPage()">Anterior</button>
    <button
      class="pipe"
      (click)="nextPage()"
      [disabled]="(names | filterNames: pages:search).length === 0"
    >
      Siguiente
    </button>
  </div>
</div>
