.cards-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #f3f3f3;
}

.cards-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  overflow: auto;
}

.cards-info {
  width: 80%;
  text-align: left;
}

.cards-values {
  width: 80%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid rgb(214, 214, 214);
  background-color: rgb(255, 255, 255);
}

.cards-values:hover {
  box-shadow: 10px 10px 10px rgb(214, 214, 214);
}

.info {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

@media screen and (min-width: 1100px) {
  .header {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #262626;
  }

  .tittle {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .container-nav-link {
    display: flex;
    width: 20%;
    height: 100%;
    justify-content: space-evenly;
  }

  .nav-link {
    width: 100px;
    height: 40px;
    text-align: center;
    border-radius: 1rem;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #f2f2f2;
  }

  .nav-link:hover {
    box-shadow: 2px 2px 4px #f2f2f2;
  }

  .cards-container {
    align-self: flex-end;
    height: 100%;
  }

  .cards-content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 25.5%);
    grid-gap: 2rem;
    align-items: center;
    justify-content: center;
    overflow: auto;
  }

  .cards-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .cards-values {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
  }

  .languages-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .text-tittle {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: #f2f2f2;
  }

  .country-title {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #bf2c53;
  }

  .buttons-pipe {
    display: flex;
    width: 45%;
    height: 8%;
    justify-content: space-evenly;
  }

  .pipe {
    width: 100px;
    height: 30px;
    text-align: center;
    border-radius: 1rem;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #f2f2f2;
  }

  .cards-values:hover {
    box-shadow: 10px 10px 10px rgb(214, 214, 214);
  }

  .cards-icon {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
  }

  .info {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: black;
  }

  .card-img-top {
    width: 100%;
    height: 100%;
  }
}